/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("Background-resized.jpeg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;

  
  /* background-color: rgb(33, 199, 205,0.7); */
  
}

  
